body {
  margin: 0;
  padding: 0;
  background-color: #1c1c1c;
  color: #fff;
  font-family: "inter";
  display: flex;
  justify-content: center;
}

main {
  padding: 1em;
  background-color: #1f2937;
  max-width: 60vh;
  display: flex;
  flex-direction: column;
}

#textandbtn {
  margin-top: 3em;
  margin-left: 3em;
}

h1 {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 0;
}
.accentclr {
  color: #0ea5e9;
}

#textandbtn p {
  color: #d5d4d8;
  font-size: 20px;
  margin-top: 0.7em;
}

button {
  background-color: #0ea5e9;
  border: none;
  border-radius: 0.3em;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: "inter";
  font-weight: 500;
  font-size: 16px;
  margin-top: 4em;
  color: white;
  padding: 0.3em 1em;
}

button:hover {
  background-color: #098bc7;
}
button:active {
  background-color: #0470a1;
  box-shadow: 1px 1px 10px #1c1c1c;
  color: #0ea5e9;
}

button:active #bolt {
  mix-blend-mode: soft-light;
}

#bolt {
  padding: 0.3em;
  width: 1em;
  height: 1.5em;
}

#bar {
  border: white;
  width: 83%;
  height: 0.1em;
  background-color: #2f3e53;
  margin-top: 2em;
  margin-bottom: 2em;
  align-self: center;
}

#passwords {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pass {
  padding: 1em 3em;
  background-color: #273549;
  width: 23%;
  margin: 0.7em;
  display: flex;
  justify-content: center;
  border-radius: 0.3em;
  min-width: 50px;
}
.pass p {
  margin: 0;
  color: #0ea5e9;
  white-space: nowrap;
}

.placeholder {
  mix-blend-mode: soft-light;
  align-items: center;
  align-content: center;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }

  main {
    background-color: #eceefd;
    color: black;
  }

  #textandbtn p {
    color: #6b7280;
  }

  .pass{
      background-color: #0ea5e9;
  }

  .pass p {
    color: black;
  }
}

@media (orientation:landscape) {
    main{
        margin-top: 20vh;
    }
}